@import url("https://fonts.googleapis.com/css?family=Ubuntu:100,200,300|Ubuntu+Mono:300Regular");

body {
  font-family: "Ubuntu", serif;
}

blockquote {
    font-family: "Ubuntu",bitstream charter,serif;
}
.post-title,
.post-info,
.catalogue-title,
.nav-title,
.catalogue-time,
.pagination,
.nav a {
  font-family: "Ubuntu";
}

code {
  font-family: "Ubuntu Mono"
}

h1,
h2,
h3,
h4,
h5,
h6,
footer {
  font-family: "Ubuntu";
}
