@font-face {
  font-family: source-sans-light;
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: source-sans-extralight;
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf");
}

@font-face {
  font-family: source-sans-semibold;
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}
@font-face {
  font-family: source-sans-bold;
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
}

@font-face {
  font-family: source-sans-regular;
  src: url("./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

body {
  font-family: source-sans-regular;
  font-size: 1.05em;
}

.post-title {
  font-family: source-sans-bold;
}

.post-info {
  font-family: source-sans-light;
}

.catalogue-title {
  font-family: source-sans-semibold;
}

.nav a {
  font-family: source-sans-light;
}

.nav-title {
  font-family: source-sans-light;
}

.catalogue-time {
  font-family: source-sans-light;
}

footer {
  font-family: source-sans-light;
}
